name: mobile_app
description: Image denoising autoencoder app
publish_to: 'none'

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0
  image_picker: ^1.0.4
  before_after: ^3.2.0   # NEW (Dart 3 compatible)

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
